# Compiled source
*.class

# jar files
*.jar

# IntelliJ project files
.idea/

# Maven

.settings/
build/
docs/
buildreport/
dist/
/target/
/on_fractal_coloring_techniques(lo-res).pdf

.gradle
**/build/
!src/**/build/
gradle/
gradlew
gradlew.bat

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

